body{
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2.5rem;
}

#logotipo{
    height:9vh;
    position:fixed;
    top:3px;
    left:0;
    display:inline-block;
    padding-right:4vh;
    padding-left:6vh
}

.divtitulo{
    position:fixed;
    top:0;
    width:100%;
    height:10vh;
    background-color:rgba(0,0,0,.7);
    text-align:center
}
.titulo{
    display:inline-block;
    height:5vh;
    line-height:5vh;
    color: darkgrey;
    font-size:3vh;
    text-align:center;
    padding-top: 1vh;
}
.titulo-portatil{
    display: none;
}

.first {
    margin-top: 2.5vw;
}
/* Init modification */
.ajustes{
    text-align: center;
}
.parametros{
    display: inline-block;
    color: darkgray;
    
}
.BotaoSelect{
    text-align: center;

}





#container {
	min-width:auto;
	max-width:auto;
}



/* End modification */
footer{
    position:fixed;
    bottom:0;
    width:100%;
    height:4vh;
    background-color:rgba(0,0,0,.7)
}
.copyright{
    text-align:center;
    vertical-align:top;
    color:wheat;
    font-size:.9em;
    margin: 6px
}

@media screen and (max-width: 55em) {

    #logotipo{
        height:5vh;
    }
    .titulo-portatil{
        display: inline;
    }

    .titulo-principal{
        display: none;
    }

  }

  @media screen and (max-width: 65em) {
    #logotipo{
        height:5vh;
    }
  }



